<!DOCTYPE html>
<html lang="en">
<html class="text-nowrap">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>index</title>
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
	<!-- Start: Login Form Dark -->
	<div class="login-dark">
		<h1
			class="text-capitalize text-center d-block justify-content-center align-items-center">The
			Star Wars Api</h1>
		<h2 class="text-left">You can search :</h2>
		<section>
			<form class="d-inline" id="form" method="get" action="/people">
				<div class="form-group d-inline" id="group_people">
					<aside>
					<label>People by id<input class="form-control" type="text"
						id="id" placeholder="1" name="id"></label>
						<button
							class="btn btn-primary active btn-block btn-sm text-nowrap text-capitalize text-center"
							id="sendPeople" type="submit">Send</button>
					</aside>
				</div>
			</form>
			<form class="d-inline" id="form" method="get" action="/planet">
				<div class="form-group d-inline" id="group_planet">
					<aside>
					<label>Planet by id<input class="form-control" type="text"
						id="id" placeholder="1" name="id"></label>
						<button
							class="btn btn-primary active btn-block btn-sm text-nowrap text-capitalize text-center"
							id="sendPlanet" type="submit">Send</button>
					</aside>
				</div>
			</form>
		</section>
	</div>
	<!-- End: Login Form Dark -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>