<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>The Star Wars API - People</title>
    <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h1 th:text="${peopleInfos.name}">$name</h1>
<h3 th:text="${peopleInfos.gender}">$gender</h3>
<ul>
    <li th:each="film : ${peopleInfos.films}">
        <a th:href="${film}" th:text="${film}">$film</a>
    </li>
</ul>
<a href="/">Go back</a>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>